@CHARSET "UTF-8";

@import "./common/common";
.header{
  .width50{
    line-height:30px;
    height: 30px;
  }
}

@media screen and ( max-width:1600px){
  .log-item{
    width: 31%;
  }
  .log-item:nth-child(3n+2){
    margin: 0 3.5% 30px 3.5%;
  }
}

@media screen and ( min-width: 1600px){
  .log-item{
    width: 23.5%;
  }
  .log-item:nth-child(4n+1), .log-item:nth-child(4n+2), .log-item:nth-child(4n+3) {
    margin:0 2% 30px 0;
  }
}



.log-list{
  display: flex;
  flex-wrap: wrap;
  // min-width:$minR_width;
  min-height: 400px;
  .log-item{
    font-size: 14px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px 20px 5px 20px;
    height: 120px;
    border-left: 3px solid #e9be2b;
    background-color: #ffffff;
    box-shadow: 0px 4px 2px -2px  $shadow_color;
    .item-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      border-bottom: 1px solid #bfbfbf;
      font-size: 14px;
      span:nth-child(2){
        color: $content_deep_color;
        font-size: 12px;
      }
    }
    .item-content{
      box-sizing: border-box;
      padding-top: 13px;
      color: $content_deep_color;
    }
    .item-foot{
      position: absolute;
      right: 20px;
      bottom: 7px;
    }
  }
}

.empty-tips{
  padding-top:200px;
}