
.dialog > .dialog-content{
    width:600px;
    .bug-desc{
        width: 100%;
        height: 120px;
    }

    #create-repair-order-pr-select{
        width:493px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        z-index: 9999;
    }

    textarea{
        padding:10px;
        box-sizing: border-box;
    }

    .table-container{
        max-height:400px;
        overflow: auto;
        table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            tr:hover{
                cursor: pointer;
                background: #eee;
                td{
                    border-color: #eee;
                }
            }
        }
    }
    
}
