<input type="hidden" id="page-privilege" value="ZTZ">
<header class="header">
    <div class="row">
        <div class="font16">
            巡检安排</div>
        <div class="date-range-con">
            <span id="prev-page" class="page-button"><i class="iconfont">&#xe61a;</i></span>
            <input type="text" placeholder="请选择日期范围" id="date-range" readonly>
            <span id="next-page" class="page-button"><i class="iconfont">&#xe61a;</i></span>
        </div>
    </div>
</header>
<div class="content conPadding2">
    <div class="arrange-list" id="arrange-list">

    </div>
</div>