<input type="hidden" value="ZTZ,ZBZ,QXBZ" id="page-privilege">
<header class="header">
	<div class="row font16">
		<a href="inspection-bug-list.html">返回巡检问题详情</a>
		<span>>巡检问题详情</span>
	</div>
</header>

<div class="conPadding2">
	<div class="main">
		<div class="left-con">
			<div class="left-top bg-white">
				<div class="row">
					<div class="width40">问题描述</div>
					<div class="width60 right">
						<a class="handled-button none" id="handled-button">已派单，查看</a>
						<a class="unhandle-button none" id="unhandle-button" privilege="ZTZ">创建抢修单</a>
					</div>
				</div>
			</div>
			<div class="height10"></div>
			<div class="left-content bg-white">
				<div class="time"></div>
				<div class="height10"></div>
				<div class="who"></div>
				<div class="height10"></div>
				<div class="grade"></div>
				<div class="desc">
				</div>
				<div class="height10"></div>
				<div class="media" id="media">

				</div>
			</div>
		</div>
		<div class="right-con">
			<div class="right-top bg-white">
				配电室详情
			</div>
			<div class="height10"></div>
			<div class="right-content bg-white">
				<div>
					<span>配电室名称：</span>
					<span class="pr-name"></span>
				</div>
				<div>
					<span>配电室地址：</span>
					<span id="pr-address"></span>
				</div>
				<div>
					<span>客户名称：</span>
					<span id="customer-name"></span>
				</div>
				<div>
					<span>客户电话：</span>
					<span id="customer-contactor"></span>
				</div>
				<div>
					<span>工作站：</span>
					<span id="station-name"></span>
				</div>
				<div>
					<span>站长：</span>
					<span id="station-leader"></span>
				</div>
				<div>
					<span>站长电话：</span>
					<span id="station-mobile"></span>
				</div>
				<div>
					<span></span>
					<span id="pr-desc"></span>
				</div>
			</div>
		</div>
	</div>

</div>