<input type="hidden" value="ZTZ,ZBZ,QXBZ,XJZZ,QXZZ" id="page-privilege">
<header class="header">
    <div class="row font16">
        <a href="operation-order-list.html">返回操作票列表</a>
        <span>>操作票详情</span>
    </div>
</header>
<div class="conPadding2">
    <div class="main">
        <div class="left-con">
            <div class="left-top bg-white">
                <div class="row">
                    <div class="width20">操作票</div>
                    <div class="width80 right">
                        <button class="ui-btn ui-btn-primary" id="save">保存</button>
                        <button class="ui-btn ui-btn-primary" id="submit">提交</button>
                        <button class="ui-btn ui-btn-primary" id="audit-pass">通过</button>
                        <button class="ui-btn ui-btn-primary" id="audit-reject">驳回</button>
                        <button class="ui-btn ui-btn-primary" id="customer-audit-pass">客户通过</button>
                        <button class="ui-btn ui-btn-primary" id="customer-audit-reject">客户驳回</button>
                        <button class="ui-btn ui-btn-primary" id="upload-result">上传工作结果</button>
                        <button class="ui-btn ui-btn-primary" id="file">归档</button>
                    </div>
                </div>
            </div>
            <div class="height10"></div>
            <div class="editor-content bg-white">
                <div id="editor"></div>
            </div>
        </div>
        <div class="right-con">
            <div class="right-top bg-white">
                操作票详情
            </div>
            <div class="height10"></div>
            <div class="right-content bg-white">
                <div>
                    <span>配电室名称:</span>
                    <span>四达时代配电室</span>
                </div>
                <div>
                    <span>存档号:</span>
                    <span>YZ00120171026</span>
                </div>
                <div>
                    <span>提票时间:</span>
                    <span>2017-11-22 10:36:17</span>
                </div>
                <div>
                    <span>审批状态:</span>
                    <span>客户通过</span>
                </div>
                <div>
                    <span>完成情况:</span>
                    <span>未完成</span>
                </div>

            </div>
        </div>
    </div>
</div>
