<input type="hidden" value="ZTZ,ZBZ,QXBZ,QXZZ" id="page-privilege">
<header class="header">
	<div class="row font16">
		<a href="work-order-list.html">返回工作票列表</a>
		<span>>工作票详情</span>
	</div>
</header>
<div class="conPadding2">
	<div class="main">
		<div class="left-con">
			<div class="left-top bg-white">
				<div class="row">
					<div class="width40">工作票</div>
					<div class="width60 right">
						<div class="color-success font14">已完成</div>
					</div>
				</div>
			</div>
			<div class="height10"></div>
			<div class="editor-content bg-white"></div>
		</div>
		<div class="right-con">
			<div class="right-top bg-white">
				工作票详情
			</div>
			<div class="height10"></div>
			<div class="right-content bg-white">
				<div>
					<span>配电室名称:</span>
					<span>四达时代配电室</span>
				</div>
				<div>
					<span>票号:</span>
					<span>YZ00120171026</span>
				</div>
				<div>
					<span>提票时间:</span>
					<span>2017-11-22 10:36:17</span>
				</div>
				<div>
					<span>审核状态:</span>
					<span>客户通过</span>
				</div>
				<div>
					<span>完成情况:</span>
					<span>未完成</span>
				</div>
				
			</div>
		</div>
	</div>
</div>