<input type="hidden" value="ZTZ,ZBZ,QXBZ,XJZZ,QXZZ" id="page-privilege">
<header class="header">
	<div class="row font16">
		<a href="work-order-list.html">返回巡检日志列表</a>
		<span>>巡检日志详情</span>
	</div>
</header>
<div class="conPadding2">
	<div class="main">
		<div class="left-con">
			<div class="left-top bg-white">
				<div class="row">
					<ul>
						<li class="active tab-item">日检（
							<span id="day-item-count">0</span>项）</li>
						<li class="tab-item">周检（
							<span id="week-item-count">0</span>项）</li>
						<li class="tab-item">月检（
							<span id="month-item-count">0</span>项）</li>
						<li class="tab-item">复检（
							<span id="recheck-item-count">0</span>项）</li>
						<li class="tab-item">突发（
							<span id="burst-item-count">0</span>项）</li>
					</ul>
				</div>
			</div>
			<div class="height10"></div>
			<div class="content bg-white">
				<div class="daily-panel tab-panel" id="day-item-panel">

				</div>
				<div class="month-panel none  tab-panel" id="week-item-panel">

				</div>
				<div class="check-panel none  tab-panel" id="month-item-panel">

				</div>

				<div class="check-panel none  tab-panel" id="recheck-item-panel">

				</div>

				<div class="check-panel none  tab-panel" id="burst-item-panel">

				</div>
			</div>
		</div>
		<div class="right-con">
			<div class="right-top bg-white">
				基本信息
			</div>
			<div class="height10"></div>
			<div class="right-content bg-white">
				<div>
					<label>配电室名称：</label>
					<span class="pr-name"></span>
				</div>
				<div>
					<label>配电室地址：</label>
					<span id="pr-address"></span>
				</div>
				<div>
					<label>客户名称：</label>
					<span id="customer-name"></span>
				</div>
				<div>
					<label>客户电话：</label>
					<span id="customer-mobile"></span>
				</div>
				<div>
					<label>巡检组长：</label>
					<span id="group-name"></span>
				</div>
				<div>
					<label>安排日期：</label>
					<span id="arrange-date"></span>
				</div>
				<div>
					<label>开始时间：</label>
					<span id="start-time"></span>
				</div>
				<div>
					<label>结束时间：</label>
					<span id="end-time"></span>
				</div>
			</div>
		</div>
	</div>
</div>