<input type="hidden" value="ZTZ,ZBZ,QXBZ,XJZZ,QXZZ" id="page-privilege">
<div class="list-header">
	<div class="row">
		<div class="width50">配电室资料</div>
		<div class="width50 right" style="line-height:0px">
			<div class="height10"></div>
			<div class="search-input" style="vertical-align:top">
				<input id="search-input" >
				<i class="iconfont">&#xe611;</i>
			</div>
			<button class="ui-btn ui-btn-primary" id="file-button" privilege="ZTZ">上传资料</button>
		</div>
		 
		<input type="file" id="file-input" style="width:0px;height:0px;">
	</div>
</div>

<div>
	<div class="list-body" id="power-room-metarial"></div>

	<!-- 无记录提示 -->
	<div class="empty-tips bg-white" id="empty-tips">
		<i class="iconfont">&#xe622;</i>
		<div>搜索不到资料</div>
		<div>如果配电室还未上传资料，请联系组团长上传</div>
		<div>或者请试一试其他关键字</div>
	</div>
</div>
