<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 引入样式表 -->
    <link rel="stylesheet" type="text/css" href="//cdn.dianwutong.com/common/css/iconfont.css" />
    <script type="text/javascript" src="build/dev/vendor.dll.js"></script>

</head>

<body>
    <div class="row">
        <div class="main-content">


            <div class="main-header bg-primary " style="padding:0px 76px">
                <div class="width70 left font22">配电室智能化监管系统</div>
                <div class="width30 right pointer user-name" tabindex="-1">
                    <i class="iconfont">&#xe609;</i>
                    <span class="font16" id="user-name">个人中心</span>
                    <i class="iconfont">&#xe610;</i>

                    <ul class="user-panel">
                        <li id="logout">退出登录</li>
                        <li class="my-role" id="my-role">我的角色</li>
                    </ul>
                </div>
            </div>

            <div class="center">
                <div class="">
                    <div class="height100"></div>
                    <img src="//cdn.dianwutong.com/common/img/privilege-error.png">
                </div>
                <div style="color: #aaa">你没有权限访问该页面！</div>
            </div>

        </div>
    </div>

</body>

</html>