<input type="hidden" value="ZTZ,ZBZ,QXBZ" id="page-privilege">
<header class="header">
    <div class="row">
        <div class="width15">
            <div class="ui-select" tabindex="-1" id="pr-selector">
                <input placeholder="请选择配电室" disabled>
                <span class="arrow"></span>
                <ul>

                </ul>
            </div>
        </div>
        <div class="width2"></div>
        <div class="width12">
            <div class="ui-select" tabindex="-1" id="location-selector">
                <input placeholder="请选择位置" disabled>
                <span class="arrow"></span>
                <ul>

                </ul>
            </div>
        </div>
        <div class="width2"></div>
        <div class="width15">
            <div class="ui-btn-group ui-btn-group-primary" id="status-btns">
                <button class="width33 ui-btn active" value="-1">全部</button>
                <button class="width33 ui-btn" value="1">未完成</button>
                <button class="width33 ui-btn" value="2">已完成</button>
            </div>
        </div>
    </div>
</header>
<div class="conPadding1">
    <div class="content bg-white">
        <div class="table-striped bg-white">
            <table class="table-bordered">
                <tr>
                    <td class="width10 ">序号</td>
                    <td class="width10 ">调度号</td>
                    <td class="width30 ">回路用途</td>
                    <td class="width20 ">挂牌类型</td>
                    <td class="width30">操作</td>
                </tr>
                <tr>
                    <td class="width10  ">1</td>
                    <td class="width10 ">B1</td>
                    <td class="width30 ">1#变压器</td>
                    <td class="width20 ">未挂牌</td>
                    <td class="width30 operate">
                        <div class="width30">检修挂牌</div>
                        <div class="width30">倒闸挂牌</div>
                    </td>
                </tr>
                <tr>
                    <td class="width10 ">1</td>
                    <td class="width10 ">B1</td>
                    <td class="width30 ">1#变压器</td>
                    <td class="width20 ">未挂牌</td>
                    <td class="width30 operate">
                        <div class="width30">检修挂牌</div>
                        <div class="width30 ">倒闸挂牌</div>
                    </td>
                </tr>
                <tr>
                    <td class="width10 ">1</td>
                    <td class="width10 ">B1</td>
                    <td class="width30 ">1#变压器</td>
                    <td class="width20 ">未挂牌</td>
                    <td class="width30 operate">
                        <div class="width30 ">检修挂牌</div>
                        <div class="width30  ">倒闸挂牌</div>
                    </td>
                </tr>
                <tr>
                    <td class="width10 ">1</td>
                    <td class="width10 ">B1</td>
                    <td class="width30 ">1#变压器</td>
                    <td class="width20 ">未挂牌</td>
                    <td class="width30 operate">
                        <div class="width30">检修挂牌</div>
                        <div class="width30">倒闸挂牌</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="center">
    <div class="pagination" id="pagination"></div>
</div>