<input type="hidden" value="ZTZ,ZBZ,QXBZ,QXZZ" id="page-privilege">
<header class="header">
	<div class="row">
		<div class="width15">
			<div class="ui-select" tabindex="-1" id="power-room-selector">
				<input placeholder="请选择配电室" disabled>
				<span class="arrow"></span>
				<ul>

				</ul>
			</div>

		</div>
		<div class="width2"></div>
		<div class="width15">
			<input type="text" class="date-range" id="date-range" placeholder="请选择提票日期">
		</div>
		<div class="width2"></div>
		<div class="width15">
			<div class="ui-btn-group ui-btn-group-primary" id="status-button-group">
				<button class="width33 ui-btn active" value="0">全部</button>
				<button class="width33 ui-btn " value="1">未完成</button>
				<button class="width33 ui-btn " value="2">已完成</button>
			</div>
		</div>
		<div class="width2"></div>
		<!-- <div class="width10">
				<button class="ui-btn ui-btn-primary">添加操作票</button>
			</div> -->
	</div>
</header>
<div class=" conPadding1">
	<div class="bg-white content">
		<div class="table-striped">
			<table class="table-bordered">
				<tr class="table-header bg-deep ">
					<td class="width20">配电室</td>
					<td class="width25">票号</td>
					<td class="width20">提票时间</td>
					<td class="width20">审核状态</td>
					<td class="width15">完成情况</td>
				</tr>
				<tr>
					<td class="width20">中外运敦豪</td>
					<td class="width25">BJ-BJ-YZ001-00120171122</td>
					<td class="width20">2017-11-22 10:36:17</td>
					<td class="width20">客户通过</td>
					<td class="width15">已完成</td>
				</tr>
				<tr>
					<td class="width20">中外运敦豪</td>
					<td class="width25">BJ-BJ-YZ001-00120171122</td>
					<td class="width20">2017-11-22 10:36:17</td>
					<td class="width20">客户通过</td>
					<td class="width15">已完成</td>
				</tr>
				<tr>
					<td class="width20">中外运敦豪</td>
					<td class="width25">BJ-BJ-YZ001-00120171122</td>
					<td class="width20">2017-11-22 10:36:17</td>
					<td class="width20">客户通过</td>
					<td class="width15">已完成</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="center">
		<div id="pagination"></div>
	</div>

</div>